.AuthaltText::before,
.AuthaltText::after
{ 
    display: inline-block;
    content: "";
    border: 0.5px solid #031B71;
    width: 10rem;
    margin: 0 0.4rem;
}
.AuthaltText
{
    color: #031B71;
}
@media screen and (max-width:940px)
{
.AuthaltText::before,
.AuthaltText::after
{ 
    display: inline-block;
    content: "";
    border: 0.5px solid #031B71;
    width: 30vw;
    margin: 0 0.4rem;
}
}