
.child
{  
    z-index:200;
    width:90%;
    max-height: 80%;
    overflow-y: scroll;
    position: absolute;
    line-height: 1.5rem;
}
@media screen and (min-width:769px)
{
    .child
    {
        width: 60%;
    } 
}
@media screen and (min-width:1025px)
{
    .child
    {
        width: 60%;
    }  
}