*{
 font-family: 'Montserrat', sans-serif;
 box-sizing: border-box;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
a{
  cursor: pointer;
  /* color: #1D1B6E!important; */
}
a:active,a:hover{
  color:#FF798A!important;
}
